body {
    margin: 0;
}

/* Login and Register */

.panel {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F67280;
    width: 500px;
    height: 550px;
    position: relative;
    border-radius: 5%;
}

.heading {
    position: absolute;
    bottom: 75%;
    width: 75%;
    text-align: center;
    color: white;
}

.mid {
    position: absolute;
    height: 50%;
    width: 75%;
}

.form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    
    background-color: white;
    border: none;
    border-bottom: 1px solid #6C5B7B;
    padding: 15px;
    width: 100%;
}

.email {
    
    background-color: white;
    border: none;
    border-bottom: 1px solid #6C5B7B;
    padding: 15px;
    width: 100%;
}

.icon {
    font-size: 50px;
    cursor: pointer;
}

.label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(255, 255, 255);
}

.submitBtn {
    position: absolute;
    top: 325px;
    right: 138px;
    width: 100px;
    background-color: #2A363B !important;
}

/*************************************************************/

/* Home Screen */

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contents {
    border-radius: 10px;
    display: flex;
    height: 90%;
    width: 90%;
    overflow: hidden;
    box-shadow: 1px 1px #2A363B;
}

.side {
    background-color: rgb(173,185,211);
    flex: 1.5;
}

/* Nav Bar */

.nav {
    display: flex;
    background-color: rgb(51,51,51);
    height: 70px;
    color: white;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    
}

.logo {
    font-weight: bold;
}

.logout {
    position: absolute;
    left: 310px;
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}

.logout:hover{
   color: rgb(252, 63, 63);
} 

.user {
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
} 

.profile-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    /* border: 3px yellow solid; */
    object-fit: cover;
    cursor: pointer;
}

.nav-logout {
    background-color: rgb(98, 0, 255);
    color: white;
}

/* Search Bar */

.userSearch{
    display: flex;
    align-items: center;
    gap: 19px;
    border-bottom: 1px solid black;
    padding: 10px;
    color: white;
}

.userSearch:hover{
    background-color: red;
    cursor: pointer;
    
}

.searchForm {
    width: 100%;
    height: 30px;
}

.search-contact {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: white;
}

.search-contact::placeholder {
    color: rgb(236, 234, 234);
}

/* .chats {
    margin-top: 10px;
} */

.userContainer {
    margin-top: 10px;
}


.userChat {
    display: flex;
    align-items: center;
    gap: 19px;
    border-bottom: 1px solid black;
    padding: 5px;
}

.userChat:hover {
    background-color: rgb(28, 48, 91);
    color: white;
    cursor: pointer;
}

.contacts {
    margin-top: 10px;
    font-weight: 500;
}

.contacts p {
    font-weight: normal;
    font-size: 15px;
    padding: 0;
}

.freindsPhoto {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px hotpink solid;
    object-fit: cover;
} 

/*************************************************************/


/* Chat Window */

.chatWindow {
    /* background-color: rgb(237,240,245); */
    flex: 6;
}

.chatInfo {
    background-color: #F67280;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.chatIcons {
    display: flex;
    gap: 10px;
}

.chatIcons i{
    font-size: 20px;
    cursor: pointer;
}


/* Input */

.inputMessage {
    height: 60px;
    padding: 10px;
    background-color: rgb(246, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userMessage {
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(246, 230, 230);
    color: rgb(56, 55, 55);
    font-size: 18px;
}

.send {
    display: flex;
    align-items: center;
    gap: 10px;
}

.attachFile {
    cursor: pointer;
    height: 35px;
    margin-top: 6.5px;
}

.sendMessage {
    background-color: #ff0019;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    padding: 9px 11px;
}


/*************************************************************/

/* Message */

.messages {
    padding: 10px;
    height: calc(100% - 130px);
    overflow: scroll;
    overflow-x: hidden;
}

.message {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.messageInfo {
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
}

.chatUserPhoto {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.just {
    font-size: 15px;
}

.messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 


.userText {
    background-color: #f6e6e6;
    border-radius: 0 10px 10px 10px;
    padding: 10px 20px;
    max-width: max-content;
}

.imgShare {
    height: 450px;
    width: 700px;
}

/* When you are the user  disable ownerAlign -> messageContent, owner -> message, ownerActive -> userText*/

.ownerAlign {    
    align-items: flex-end;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.owner {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    color: white;
    flex-direction: row-reverse;
}

.ownerActive {
    color: white;
    background-color: #c82535;
    padding: 10px 20px;
    border-radius: 10px 0px 10px 10px;
    max-width: max-content;
} 

    /*******************/


/************************************************************************/